@import "./../../../scss/variables";

.expense-item {
  margin: 1.5rem auto;
  max-width: 50vw;

  display: flex;
  // justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-radius: 0.5rem;

  box-shadow: $box-shadow;

  &__data {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 2rem;
  }

  &__date {
    padding: 1rem;

    box-shadow: $box-shadow;

    border-radius: 0.5rem;
  }

  &__details {
    .title {
      font-weight: 600;
      margin: 0.2rem 0;
    }

    .description {
      margin: 0.2rem 0;
    }
  }

  &__amount {
    box-shadow: $box-shadow;

    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 600;
    color: $white-color;

    &.expense {
      background-color: $red-color;
    }

    &.income {
      background-color: $green-color;
    }
  }
}
